@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

/*Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

:root {
    --primary-black: #000000;
    --secondary-black: #101010;
    --primary-white: #FFFFFF;
    --secondary-white: #F0F0F0;
    --primary-pink: #EFC3C5;
    --primary-pista: #E2F2B0;
}

/* Utility Classes */

.bg-dark {
    background: var(--primary-black);
}

.bg-light-black {
    background: var(--secondary-black);
}

.main-container {
    min-height: 100vh;
}

.border {
    border: 2px solid green;
}


.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--primary-white);
    width: 20rem;
    height: 25rem;
    border-radius: 50%;
    filter: blur(80px);
}

.container {
    width: 100%;
    max-width: 1300px;
    height: 100vh;
    margin: auto;
}

header {
    height: 14vh;
}

.logo {
    width: 1.3rem;
    aspect-ratio: 1;
    background-color: var(--primary-white);
    transform: rotate(45deg);
}

.logo::before {
    content: "";
    position: absolute;
    width: 1.4rem;
    aspect-ratio: 1;
    /* background-color: red; */
    border: .1rem solid var(--primary-white);
}

/* .hamburger {
    display: none;
} */

.line {
    width: 2.2rem;
    height: .2rem;
    background: var(--primary-white);
    margin: .35rem;
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlist {
    display: flex;
    gap: 2rem;
    text-transform: capitalize;
}

.navlinks {
    color: var(--secondary-white);
    font-size: 1rem;
}

.navlinks:hover,
.active {
    color: var(--primary-pink);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.hero-section {
    height: calc(100vh - 14vh);
    background-color: yellow;
}